<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actioins</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of products; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price | currency: 'USD'}}</td>
      <td>
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="editProduct(product)"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>